# Git
.git
.gitignore
.gitattributes

# IDE
.vs
.vscode
.idea
*.user
*.suo

# Build outputs
**/bin
**/obj
**/out
**/publish

# Tests
**/tests
**/TestResults
**/coverage

# Docker
**/Dockerfile*
**/docker-compose*
**/.dockerignore

# Documentation
**/*.md
!README.md

# Misc
**/.DS_Store
**/Thumbs.db
*.log
